# Telegram Bot & App Credentials
API_ID=
API_HASH=
BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ID=
NEXT_PUBLIC_BOT_USERNAME=

# Database
MONGO_URI=mongodb://localhost:27017
MONGO_DB=playeon

# WebSocket Room Connection
NEXT_PUBLIC_ROOM_WS_URL=http://localhost:3067

# Administration
DEV_IDS=
